name: Pull and Restart the Server

on:
  push:
    branches: [ "master" ]

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: self-hosted
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Make scripts executable
        run: |
          chmod +x ./restart_all.sh

      - name: Run the script
        run: ./restart_all.sh